
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.grid-container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cell.start {
    background-color:green;
}

.cell.end {
    background-color:red;
}

.cell.path {
    background-color:blue; 
}
